.nav > li{
	background-color: #9fb2c5;
}

#menu-items a{
	color: black;
}

#menu-items a:hover, #menu-items a:focus{
	background-color: #aed4fb;
}

body{
	font-family: 'Ubuntu', sans-serif;
}

.menu-section{
	background-color: grey;
	color: black;
	margin-bottom: 20px;
}

.menu-description{
	padding: 10px;
}

.menu-heading{
	padding: 10px;
}

.link > a{
	padding-left: 10px;
	color: #114571;
}

